<div id="catalog" class="content_block centered">
  <h2 class="blue uppercase"><%= @cat.title %></h2>
  <% @cat.brands.each do |brand| %>
  <div class="block">
    <div class="image">
      <%= image_tag brand.image(:medium) %>
    </div>
    <h4 class="blue uppercase"><%= link_to "#{brand.title} →", brand %></h4>
    <div class="gray">
      <p><%= brand.description %></p>
    </div>
  </div>
  <% end %>
  <div class="clear"></div>
  <span class="blue uppercase dotted">показать еще</span>
</div>
