<div id="catalog" class="content_block centered">
  <h2 class="blue uppercase"><%= @cat.title %></h2>
  <div class="catalog">
    <% @cat.brands.each do |brand| %>
    <div class="block">
      <div class="image">
        <%= image_tag brand.image(:medium) %>
      </div>
      <h4><%= link_to "#{brand.title} →", brand, class: "blue uppercase clear_link" %></h4>
      <div class="gray">
        <p><%= brand.description %></p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <span class="blue uppercase dotted show_more">показать еще</span>
  <span class="blue uppercase dotted hide_more hidden">скрыть</span>
</div>
