<%# @cat.title %>
<%# @cat.brands.each do |brand| %>
<%# image_tag brand.image(:medium) %>
<%# link_to "#{brand.title} →", brand %>
<%# brand.description %>
<%# end %>

<div id="catalog" class="content_block centered">
    <h2 class="blue uppercase">Сумки, чехлы</h2>
    <div class="path">
		<a class="black underline" href="/">Главная</a> /
		<a class="black underline" href="/">Фото, видео, оптика</a> /
		<a class="black underline" href="/">сумки, чехлы</a>
	</div>
    <div class="block">
      <div class="image">
        <img src="http://localhost:3000/system/top_categories/images/000/000/004/medium/slider_text_newest.png?1389969879" alt="">
      </div>
      <h4 class="blue uppercase">Что чаще всего везут из Китая? →</h4>
      <div class="gray">
          <p>Автоматизация нетривиальна. Язык образов подрывает катарсис, tertium nоn datur. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно следует, что искусство транспонирует. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно</p>
      </div>
    </div>

    <div class="block">
      <div class="image">
        <img src="http://localhost:3000/system/top_categories/images/000/000/004/medium/slider_text_newest.png?1389969879" alt="">
      </div>
      <h4 class="blue uppercase">Что чаще всего везут из Китая? →</h4>
      <div class="gray">
          <p>Автоматизация нетривиальна. Язык образов подрывает катарсис, tertium nоn datur. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно следует, что искусство транспонирует. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно</p>
      </div>
    </div>

    <div class="block">
      <div class="image">
        <img src="http://localhost:3000/system/top_categories/images/000/000/004/medium/slider_text_newest.png?1389969879" alt="">
      </div>
      <h4 class="blue uppercase">Что чаще всего везут из Китая? →</h4>
      <div class="gray">
          <p>Автоматизация нетривиальна. Язык образов подрывает катарсис, tertium nоn datur. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно следует, что искусство транспонирует. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно</p>
      </div>
    </div>

    <div class="block">
      <div class="image">
        <img src="http://localhost:3000/system/top_categories/images/000/000/004/medium/slider_text_newest.png?1389969879" alt="">
      </div>
      <h4 class="blue uppercase">Что чаще всего везут из Китая? →</h4>
      <div class="gray">
          <p>Автоматизация нетривиальна. Язык образов подрывает катарсис, tertium nоn datur. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно следует, что искусство транспонирует. Надо сказать, что катарсис не так уж очевиден. Отсюда естественно</p>
      </div>
    </div>

    <div class="clear"></div>
    <span class="blue uppercase dotted">показать еще</span>
  </div>