/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/images/stylesheets, vendor/images/stylesheets,
 * or vendor/images/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display:block;
}
body {
  line-height:1;
  min-height:100%;
  height:100%;
}
ol, ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

/* cancel selection */

.content_block h2, .arrow, .next_review, input[type=checkbox] + label {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

/* common */

.underline, .underline:hover {text-decoration:none; border-bottom:1px; border-style:solid; line-height:1.2; cursor:pointer;}
.dotted, .dotted:hover {text-decoration:none; border-bottom:1px; border-style:dotted; line-height:1.2; cursor:pointer;}

.blue {						border-color:rgba(050,120,234,0.3); color:rgba(050,120,234,1);}
.blue:hover {			border-color:rgba(050,120,234,0.5); color:rgba(050,120,234,1);}
.darkblue {				border-color:rgba(030,087,179,0.3); color:rgba(030,087,179,1);}
.darkblue:hover {	border-color:rgba(030,087,179,0.5); color:rgba(030,087,179,1);}
.black {					border-color:rgba(000,000,000,0.3); color:rgba(000,000,000,1);}
.black:hover {		border-color:rgba(000,000,000,0.5); color:rgba(000,000,000,1);}
.orange {					border-color:rgba(239,060,022,0.3); color:rgba(239,060,022,1);}
.orange:hover {		border-color:rgba(239,060,022,0.5); color:rgba(239,060,022,1);}
.gray {						border-color:rgba(130,130,130,0.3); color:rgba(130,130,130,1);}
.gray:hover {			border-color:rgba(130,130,130,0.5); color:rgba(130,130,130,1);}
.white {					border-color:rgba(255,255,255,0.5); color:rgba(255,255,255,1);}
.red {						border-color:rgba(232,046,046,0.5); color:rgba(232,046,046,1);}
.lightred {				border-color:rgba(255,072,027,0.3); color:rgba(255,072,027,1);}
.lightred:hover {	border-color:rgba(255,072,027,0.5); color:rgba(255,072,027,1);}

body {font-family:"Open Sans";}

.uppercase {text-transform:uppercase; letter-spacing:0.7px;}
a, a:hover, .clear_link, .clear_link:hover  {text-decoration:none; border-bottom:1px solid white;}

.clear {clear:both;}
.loader {margin-left:-9999px; 
	background-image:url('/images/order_form_submit_hover.png'),
									 url('/images/order_form_submit_active.png'),
									 url('/images/calculate_checkbox_checked.png'),
									 url('/images/calculate_checkbox_checked.png'),
									 url('/images/selectors_hover.png'),
									 url('/images/blue_form_submit_hover.png'),
									 url('/images/blue_form_submit_active.png'),
									 url('/images/how_arrow_hover.png'),
									 url('/images/how_arrow_active.png'),
									 url('/images/questions.png'),
									 url('/images/review_next_hover.png'),
									 url('/images/review_next_active.png'),
									 url('/images/ask_form_hover.png'),
									 url('/images/ask_form_active.png');
}

.centered {min-width:1000px; max-width:1400px; margin:0 auto 0; padding:0px 30px; clear:both;}

input[type=checkbox] {display:none;}

/* header */

#header {position: relative; height:129px; background-image:url('/images/header_bg.png'); background-repeat:repeat-x;}
.header {}
.header_logo {width:25%; max-width:280px; height:124px; float:left; padding-left:81px; background-image:url('/images/logo.png'); background-repeat:no-repeat; background-position:3px center; line-height:0.95;}
.header_logo h1 {font-family:"Jura"; font-size:48px; font-weight:500; padding-top:28px; letter-spacing:-1.2px;}
.header_logo h3 {font-family:"Open Sans"; font-size:14px; padding-left:4px; letter-spacing:-0.3px;}

.header .menu {width:45%; height:124px; padding-top:39px; float:left;}
.header .top_menu {line-height:1.5;}
.header .top_menu li {float:left; margin-right:25px;}
.header .menu a {font-family:"Open Sans"; font-size:11px; font-weight:600;}
.header .docs_example {padding-left:15px; background-image:url('/images/docs_example.png'); background-repeat:no-repeat; background-position:left center;}

.header .order_part {height:124px; padding-top:39px; float:right; padding-right:2%; font-size:11px;}
.header .order_part .phone {margin-bottom:9px; font-family:"Open Sans"; font-size:22px;}

/* popup */

#popup_form {position:absolute; top:90px; right:108px;}
#popup_form {width:377px; height:181px; padding:30px 20px 30px; background-image:url('/images/order_form.png'); background-repeat:no-repeat; line-height:1.25;}
#popup_form .left {width:49%; margin-right:1%; float:left;}
#popup_form .left p {font-size:14px;}
#popup_form .right {width:49%; float:left;}
#popup_form .right input[type=text] {text-transform: uppercase; width:168px; float:left; margin:0px 0px 20px 0px; outline:none; background-color:white; border:1px solid #bf8c00; font-size:16px; padding:8px 5px 8px 10px; color:black;}
#popup_form .right input[type=text]::-webkit-input-placeholder {color:black;}
#popup_form .right input[type=text]:-moz-placeholder {color:black;}
#popup_form .right input[type=submit] {text-transform: uppercase; width:182px; height:50px; border:0; outline:none; background-image:url('/images/order_form_submit.png'); background-repeat:no-repeat; background-position:center; background-color:transparent; color:white; cursor:pointer; border-radius: 5px;}
#popup_form .right input[type=submit]:hover {background-image:url('/images/order_form_submit_hover.png');}
#popup_form .right input[type=submit]:active {background-image:url('/images/order_form_submit_active.png');}

/* map */

#map {position:relative; height:610px; margin-top:-29px; background-color:lightblue; z-index:-1;}

/* calculator */

input[type=checkbox] + label {height:24px; background-image:url('/images/calculate_checkbox.png'); background-repeat:no-repeat; background-position:left bottom; cursor:pointer; padding-left:30px; display:inline-block; max-width:32%; vertical-align:top; line-height:24px; font-size:14px;}
input[type=checkbox]:checked + label {background-image:url('/images/calculate_checkbox_checked.png');}

#calculator {margin-top:-190px; margin-bottom:85px; max-width:1200px;}
.calculator {border-style: solid; border-width: 1px; border-color: rgb( 211, 211, 211 ); border-radius: 10px; background-color: rgba(255,255,255,0.85);
  background-image: -moz-linear-gradient( -90deg, rgba(222,222,222,0.85) 0%, rgba(249,249,249,0.85) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgba(222,222,222,0.85) 0%, rgba(249,249,249,0.85) 100%);
  background: -o-linear-gradient( -90deg, rgba(222,222,222,0.85) 0%, rgba(249,249,249,0.85) 100%);
  background: linear-gradient( -90deg, rgba(222,222,222,0.85) 0%, rgba(249,249,249,0.85) 100%);
  box-shadow: 1px 1.732px 13px 0px rgb( 0, 0, 0 ); padding:30px 3%;}

.calculator input[type=text] {margin-top:13px; margin-bottom:13px; background-color:white; border:1px solid #a0a0a0; font-family:"Open Sans"; font-size:16px; padding:8px 5px 8px 10px;}
.calculator .big {width:30%; margin-right:2%;}
.calculator .small {width:85px; margin:0 3px 0 1%;}
.calculator .title {font-family:"Open Sans"; font-size:18px; font-weight:600; padding-top:4px;}
.calculator .present {padding-left:25px; min-height:21px; background-image:url('/images/present.png'); background-repeat:no-repeat;}
.calculator .point {width:44%; float:left; padding-left:21px; min-height:19px; background-image:url('/images/point.png'); background-repeat:no-repeat;}
.calculator .top {height:158px; border-bottom:1px solid #c7c7c7;}
.calculator .top .left_part {margin-right:490px;}
.calculator .top .right_part {float:right; width: 490px;}
.calculator .top .point input[type=text] {width:85%;}
.calculator .top .present {font-family:"Open Sans"; font-size:16px;}
.calculator .top .left_part input[type=checkbox] + label {margin-right:2%;}
.checkboxes_line {margin-top:4px; padding-left:21px;}

.calculator .down {position:relative; padding-top:40px;}
.calculator .down .left_part {width:54%; float:left;}

.left_part .selectors {position: relative; height:128px; margin-bottom:10px;}
.left_part .selectors .images {position: absolute; top:0;}
.left_part .selectors .image {float: left; width: 119px; height: 128px; background-repeat: no-repeat; background-position: 5px 85px; z-index:4;}
.left_part .selectors .image:hover {background-image:url('/images/selectors_hover.png'); background-position: 10px 59px;}
.left_part .selectors .icon {width:50px; height:40px; background-repeat:no-repeat;}
.left_part .selectors .ship {background-image:url('/images/ship.png'); background-position: 4px 100%;}
.left_part .selectors .train {background-image:url('/images/train.png'); background-position: 9px 100%;}
.left_part .selectors .auto {background-image:url('/images/auto.png'); background-position: 1px 100%;}
.left_part .selectors .plane {background-image:url('/images/plane.png'); background-position: 5px 100%;}

.left_part .selectors .visual {position: absolute; top: 50px; width: 480px; height: 39px; background-image: url('/images/selectors.png'); background-repeat: no-repeat; background-position: 16px 50%;}
.left_part .selectors .visual .active {position: relative; width:39px; height:39px; background-image:url('/images/selectors_active.png'); background-repeat:no-repeat; background-position:left; z-index:5;}
.left_part .selectors .prices {position: absolute; top:95px;}
.left_part .selectors .prices .price {float:left; width:120px; font-size:12px; font-weight: 600; line-height: 1.25;}

.left_part .selector_description {padding-top:10px; padding-bottom:40px; border-bottom:1px solid #c7c7c7; margin-right:80px;}
.left_part .price_block {padding:40px 0 20px;}
.left_part .price_block .title {width:200px; float:left;}
.left_part .price_block .price {float:left; font-size:47px;}

.calculator .down .right_part {width:40%; float:left; padding-left:20px;}
.calculator .down .right_part .big_title {font-family:"Open Sans"; font-size:24px;  padding-bottom:20px;}
.calculator .down .right_part input[type=checkbox] + label { max-width:100%; margin-bottom:10px;}

.calculator .order_form {position:absolute; right:1%; top:65%; max-width:412px; max-height:193px; padding:40px 40px 50px; background-image:url('/images/blue_form.png'); background-repeat:no-repeat; line-height:1.25;}
.calculator .order_form .left {width:45%; margin-right:5%; float:left;}
.calculator .order_form .left .number {color:#a4c2e1; font-size:12px;}
.calculator .order_form .left p {color:white; font-family:"Open Sans"; font-size:14px; padding-bottom:20px;}
.calculator .order_form .right {width:45%; float:left;}
.calculator .order_form .right input[type=text] {width:170px; float:left; margin:0px 0px 20px 0px; border-color:#0f3d88;}
.calculator .order_form .right .dark_blue {background-color:#567fc2; color:white;}
.calculator .order_form .right .dark_blue::-webkit-input-placeholder {color:#ffffff;}
.calculator .order_form .right .dark_blue:-moz-placeholder {color:#ffffff;}
.calculator .order_form .right input[type=submit] {width:182px; height:50px; border:0; outline:none; background-image:url('/images/blue_form_submit.png'); background-repeat:no-repeat; text-transform:uppercase; color:#aa5805; cursor:pointer; background-color:transparent;}
.calculator .order_form .right input[type=submit]:hover {background-image:url('/images/blue_form_submit_hover.png');}
.calculator .order_form .right input[type=submit]:active {background-image:url('/images/blue_form_submit_active.png');}


/* content_block */

.content_block h2 {font-family:"Open Sans"; font-size:22px; font-weight:600; padding-bottom:20px;}

/* how */

#how {margin-bottom:40px;}
.how {}
.how_picture {width:806px; height:147px; margin-left:-10px; background-image:url('/images/how_picture.png'); background-repeat:no-repeat;}
.how_menu {margin:10px 0 30px 8px;}
.how_menu .arrow {width:281px; height:84px; line-height:84px; vertical-align:middle; white-space:nowrap; float:left; text-align:center; background-image:url('/images/how_arrow.png'); background-repeat:no-repeat; background-position:center; cursor:pointer; margin-left:-10px;}
.how_menu .arrow:hover {background-image:url('/images/how_arrow_hover.png');}
.how_menu .arrow:active {background-image:url('/images/how_arrow_active.png');}
.how_menu .arrow a {text-transform:uppercase; font-size:12px; font-weight:600; color:white;}
.how_menu .ui-tabs-active {background-image:url('/images/how_arrow_active.png');}
.how .how_text { font-size:14px; line-height:1.45; letter-spacing:-0.1px; padding-right:50px;}

/* questions */

#questions {}
.questions {margin:0 auto 0; padding-bottom:50px;}
.tabs {border-radius:5px; background-color:#78a3e8; float:left; overflow:hidden; margin-bottom:30px;}
.tabs .tab {background-color:#1e57b3; padding: 11px 15px; float:left; cursor:pointer; font-family:"Open Sans"; margin-right:1px; border:1px solid #1e57b3;}
.tabs .tab a {text-transform:uppercase; color:white; font-size:14px; font-weight:600;}
.tabs .tab:hover {background-color:#3678e3; border:1px solid #3678e3;}
.tabs .active, .tabs .active:hover {background-color:#ffba00; color:#a34f05; border:1px solid #ffa800; margin-right:0px;}
.tabs .ui-tabs-active, .tabs .ui-tabs-active:hover {background-color:#ffba00; color:#a34f05; border:1px solid #ffa800; margin-right:0px;}
.questions_container {height:400px; margin-right:310px;}
.questions_list {width:220px; height:400px; float:left; margin-right:20px; background-image:url('/images/questions_simple.png'); background-repeat:repeat-y; background-position:right bottom;}
.questions_list li {text-indent:-20px; padding:0px 25px 18px 0;/*background-image:url('/images/questions_simple.png'); background-repeat:repeat-y; background-position:right bottom;*/}
.questions_list .active {background-image:url('/images/questions.png'); background-repeat:no-repeat; background-position:right center;}
.questions_list .active a {border-color:rgba(239,060,022,0.5); color:rgba(239,060,022,1);}
.questions_list .ui-tabs-active {background-image:url('/images/questions.png'); background-repeat:no-repeat; background-position:right center;}
.questions_list .ui-tabs-active a {border-color:rgba(239,060,022,0.5); color:rgba(239,060,022,1);}
.answer {padding-top:5px; padding-bottom:10px;}

/* catalog */

#catalog {padding-bottom:50px;}
.block {width:48%; float:left; padding:10px 20px 40px 0;}
.block .image {width:115px; height:115px; float:left; margin-right:10px; overflow:hidden;}
.block .image img {width:115px; height:auto;}
.block h4 {font-family:"Open Sans"; font-size:14px; font-weight:600; padding-bottom:20px;}
.block .links {font-family:"Open Sans"; font-size:14px; }
.block .links:hover {}

/* docs */

#docs, .services {padding-bottom:50px;}
#docs .left_part, .services .left_part  {margin-right:470px;}
#docs .left_part, .services .left_part .questions_container {margin-right:0;}
#docs .right_part, .services .right_part  {width:450px; float:right;}
.document {position:relative; height: 45px; padding: 10px 0 15px;border-bottom:1px solid #c3c3c3;}
.document .image {margin-top:5px; width:40px; height:40px; float:left; margin-right:30px;}
.document .doc_title {display:inline-block; font-size:14px; }
.document .doc_description {font-size:14px; padding-top:5px; padding-right:50px;}
.document .download_link {position:absolute; right:20px; top:0; bottom:0; margin:auto 0; width:21px; height:21px; background-image:url('/images/download.png'); background-repeat:no-repeat;}

/* expert */

.expert {width:120px; padding:40px 20px; float:left; background-image:url('/images/small_arrow.png'); background-repeat:no-repeat; background-position:100% 80px;}
.expert img {width:115px; height:115px; margin-bottom:20px;}
.expert .name {font-style:italic; font-size:14px;}

/* about block */

#about {position:relative; width:100%; height:435px; background-image:url('/images/about_us.jpg'); background-repeat:no-repeat; background-position:left bottom;}
#about .right {position:absolute; width:45%; height:435px;top:0; right:0; background-color:rgba(255,86,24,0.85);}
#about .right h2 {font-family:"Open Sans"; font-size:22px; font-weight:600; padding:50px 50px 30px 50px;}
#about .right p {font-family:"Open Sans"; font-size:15px; margin:0px 100px 10px 50px; padding-top:30px; line-height:1.5; border-top: 1px solid white;}

/* reviews */

#reviews {position:relative; width:70%; margin:0 auto 0; height:200px; padding:75px 0 30px;}
.review {position:absolute; top:0; bottom:0; right:220px; margin:auto;}
.review .image {width:120px; height:120px; overflow:hidden; margin-right:25px; float:left; }
.review .image img {width:120px; height:auto;}
.review .review_text {text-indent:-20px; font-family:"Open Sans"; font-size:14px; line-height:1.5;}
.review .review_author {margin-top:10px; font-style:italic; font-family:"Open Sans"; font-size:14px;}
.next_review {position:absolute; width:192px; height:50px; top:100px; right:0;  background-image:url('/images/review_next.png'); background-repeat:no-repeat; background-position:center; text-align:center; color:#ff481b; line-height:50px; vertical-align:middle; cursor:pointer; font-family:"Open Sans"; font-size:12px; font-weight:600;}
.next_review:hover {background-image:url('/images/review_next_hover.png'); color:white;}
.next_review:active {background-image:url('/images/review_next_active.png'); color:white;}

/* ask form */
.ask_form {float:right; width:220px; background-color:#f4f3ee; padding:35px;}
.ask_form input[type=text] {text-transform:uppercase; width:200px; height:18px; border:1px solid #adadad; padding:10px; margin-bottom:20px; color:#363636;}
.ask_form textarea {width:200px; outline:none; border:1px solid #adadad; padding:10px; color:#363636; resize:none; margin-bottom:20px;}
.ask_form input[type=text]::-webkit-input-placeholder {color:#363636;}
.ask_form input[type=text]:-moz-placeholder {color:#363636;}
.ask_form input[type=submit] {text-transform:uppercase; width:222px; height:50px; border:0; outline:none; background-image:url('/images/ask_form_submit.png'); background-repeat:no-repeat; background-position:center; background-color:transparent; color:#4e4e4e; cursor:pointer;}
.ask_form input[type=submit]:hover {background-image:url('/images/ask_form_hover.png');}
.ask_form input[type=submit]:active {background-image:url('/images/ask_form_active.png');}

/* brand */

#brand {}
.gray_form {width:412px; height:173px; padding:40px 40px 50px; background-image:url('/images/gray_form.png'); background-repeat:no-repeat; line-height:1.25;}
.gray_form .left {width:42%; margin-right:3%; float:left;}
.gray_form .left p {font-family:"Open Sans"; font-size:14px; padding-bottom:20px;}
.gray_form .left .number {font-family:"Open Sans"; font-size:12px;}
.gray_form .right {width:45%; float:left;}
.gray_form .right input[type=text] {text-transform: uppercase; width:207px; float:left; margin:0px 0px 20px 0px; outline:none; background-color:white; border:1px solid #adadad; font-family:"Open Sans"; font-size:16px; padding:8px 5px 8px 10px;}
.gray_form .right input[type=submit] {text-transform: uppercase; width:222px; height:50px; border:0; outline:none; background-image:url('/images/ask_form_submit.png'); background-repeat:no-repeat; background-position:center; background-color:transparent; color:#4e4e4e; cursor:pointer;}
.gray_form .right input[type=submit]:hover {background-image:url('/images/ask_form_hover.png');}
.gray_form .right input[type=submit]:active {background-image:url('/images/ask_form_active.png');}

/* path */

.path {padding:10px 0 30px; color:#9f9f9f; font-size:16px;}

/* footer */

#footer {height:200px; background-image:url('/images/footer_bg.png'); background-repeat:repeat-x; background-position:top; padding:50px 50px 0; line-height:20px;}
#footer h5 {font-family:"Open Sans"; font-size:12px; font-weight:600;}
#footer .russia {float:left; width:20%; padding-left:30px; background-image:url('/images/russia.png'); background-repeat:no-repeat; background-position:left top;}
#footer .china {float:left; width:20%; padding-left:30px; background-image:url('/images/china.png'); background-repeat:no-repeat; background-position:left top;}
#footer .delimeter {margin:15px 0; width:100px; height:1px; border-bottom:1px solid #cac4b3;}
#footer .contacts {float:left; line-height:30px; font-size:12px;}
#footer .contacts .phone {display:inline-block; font-family:"Open Sans"; font-size:16px; margin-bottom:5px;}
#footer .jam {float:right; height:52px; background-image:url('/images/jam.png'); background-repeat:no-repeat; background-position:left center; padding-left:75px; line-height:26px; font-size:13px;}
#footer .jam a {font-size:15px;}