<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Континент - грузоперевозки из китая</title>
  <meta charset="UTF-8">
  <style>
    @import url(http://fonts.googleapis.com/css?family=Jura:500&subset=latin,cyrillic);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300&subset=latin,cyrillic);
  </style>
  <link rel="stylesheet" href="style.css"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="loader"></div>

	<div id="header">
		<div class="header_logo">
			<div class="logo"></div>
			<h1>Континент</h1>
			<h3>Грузоперевозки из Китая</h3>
		</div>	
		<div class="menu">
			<ul class="top_menu">
				<li><a href="" class="underline blue uppercase">грузоперевозки</a></li>
				<li><a href="" class="underline blue uppercase">дополнительные услуги</a></li>
				<li><a href="" class="underline blue uppercase">полезные материалы</a></li>
				<li><a href="" class="underline blue uppercase">контакты</a></li>
			</ul>
			<div class="docs_example"><a href="" class="underline black uppercase">образцы документов</a></div>
		</div>
		<div class="order_part">
			<div class="phone">8 800 2000 600</div>
			<a href="" id="order_form_button" class="dotted orange">заказать звонок</a>
		</div>
	</div>

	<div id="map">
		
	</div>
	
	<div id="calculator">
		<form action="" method="post" class="main_form">
			<div class="top">
				<div class="left_part">
					<div class="title present blue uppercase">Что везем</div><br>
					<input type="text" placeholder="Описание груза">
					<input type="text" placeholder="Вес"> кг
					<input type="text" placeholder="Объем"> М<sup>3</sup>
					<input type="checkbox" id="" hidden/>
	          		<label for="">Негабаритный</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Сборный</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Контроль качества и количества</label>
				</div>
				<div class="right_part">
					<div class="title point blue uppercase">Откуда</div>
					<div class="title point blue uppercase">Куда</div>
					<input type="text">
					<input type="text">
					<input type="checkbox" id="" hidden/>
	          		<label for="">Доставка до пункта отправки</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Доставка по адресу получателя</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Срочный</label>
				</div>
			</div>

			<div class="down">
				<div class="left_part">
					<ul class="selectors">
						<li class="ship active">40 дней<br>от 5 000 Р</li>
						<li class="train">25 дней<br>от 15 000 Р</li>
						<li class="auto hover">15 дней<br>от 25 000 Р</li>
						<li class="plain">3 дня<br>от 50 000 Р</li>
					</ul>
					<div class="selector_description">
						Перевозки морем – это дешевый, надежный и практичный метод доставки. Перевозка грузов морским транспортом более экономична, чем авиатрансфер, но занимает более продолжительное время.
					</div>
					<div class="price_block">
						<div class="title blue uppercase">Предварительная стоимость:</div>
						<div class="price">~30 000 Р</div>
					</div>
				</div>

				<div class="right_part">
					<div class="title blue">Дополнительные услуги</div>
					<input type="checkbox" id="" hidden/>
	          		<label for="">Поиск товаров и производителей</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Экспертиза товара</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Временное складирование</label>
	          		<input type="checkbox" id="" hidden/>
	          		<label for="">Организация поездки в китай</label>
				</div>

				<div class="order_form">
					<div class="left">
						<p>Мы посчитаем точную стоимость доставки с учетом указанных вами данных и перезвоним вам в течении нескольких минут.</p> 
						<p class="small">Номер специалиста:<br>8 800 2000 600</p>
					</div>
					<div class="right">
						<input type="text" placeholder="ИМЯ">
						<input class="dark_blue" type="text" placeholder="НОМЕР ТЕЛЕФОНА">
						<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
					</div>
				</div>
			</div>
		</form>
	</div>

	<%= yield %>

	<div id="footer">
		<div class="russia">
			<h5 class="black uppercase">офис в челябинске</h5>
			<a href="" class="blue dotted">ул. Труда 99б</a>
			<div class="delimeter"></div>
			<h5 class="black uppercase">офис в москве</h5>
			<a href="" class="blue dotted">ул. Труда 99б</a>
		</div>
		<div class="china">
			<h5 class="black uppercase">офис в ганжоа</h5>
			<a href="" class="blue dotted">ул. Труда 99б</a>
			<div class="delimeter"></div>
			<h5 class="black uppercase">офис в пекине</h5>
			<a href="" class="blue dotted">ул. Труда 99б</a>
		</div>
		<div class="contacts">
			<div class="phone">8 800 2000 600</div>
			<div class="order_call blue uppercase">заказать звонок</div>
			<div class="order_call blue uppercase">задать вопрос эксперту</div>
		</div>
		<div class="jam">
			<a class="red underline" href="">Разработка сайта</a><br>
			Jam / Интернет-агенство
		</div>
	</div>

</body>
</html>